{% extends 'base.html' %}

{% block content %}

	<h1>Click history</h1>
	
	<p>
		<a href='../'>
			<button type="button" class="btn btn-secondary">Go back</button>
		</a>
	</p>
	
	{% if ips %}

	<ul class="list-group">

		{% for ip in ips %}

			<li class="list-group-item d-flex justify-content-center align-items-center bg-dark">

				<div>{{ ip.ip_address }} on {{ ip.date_time }}</div>

			</li>

		{% endfor %}

	</ul>

	<div class="pagination">
    	<span class="step-links">
        	{% if page_obj.has_previous %}
         	   <a href="?page=1">&laquo; first</a>
         	   <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        	{% endif %}

        	<span class="current">
           	 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        	</span>

        	{% if page_obj.has_next %}
            	<a href="?page={{ page_obj.next_page_number }}">next</a>
            	<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        	{% endif %}
    	</span>
	</div>

	{% else %}
	<p>No history :(</p>
	{% endif %}

{% endblock %}